@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.App {
  /* background-image: url("https://images3.alphacoders.com/109/1093282.jpg");
   */
   background-image: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg");
  height: 100vh;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 80px;
  color: #fed56b;
}

@media (max-width: 700px) {
  .title {
    font-size: 60px;
  }
}
